@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

body {
  font-family: 'Figtree', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #062846;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FF492C;
}

a {
  color: #288DFF;
  text-decoration: none;
}

a:hover {
  color: #27D3BC;
}

button {
  background-color: #FFC800;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: 'Figtree', sans-serif;
}

button:hover {
  background-color: #27D3BC;
  color: #ffffff;
}

.App {
  background-color: #ffffff;
  color: #062846;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}